h1 {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

a:link {
    color: #303F9F;
}

a:visited {
    color: #3F51B5;
}

/* About Section */
.about-section {
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

/* Learn Section */
.learn-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #eee;
}

/* Learn Section */
.learn-section img{
    padding: 15px;
}

/* Nav Bar */
.navbar-default {
    background-color: #303F9F;
    border-color: #303F9F;
}

/* Nav Bar Brand */
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: #eee;
}

/* Nav Bar Items */
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #eee;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #eee;
}

/* Nav Bar Toggle Button */
.navbar-default .navbar-toggle {
    background-color: #303F9F;
    border-color: #fff;
}

.navbar-default .navbar-toggle:focus {
    background-color: #eee;
}

.navbar-default .navbar-toggle:hover {
    background-color: #eee;
}

/* Nav Bar Toggle Button Three Bars*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Extra Small Devices, iPhone 7 etc... */ 
@media only screen and (max-width : 480px) {

    /* Learn Section */
    .learn-section {
        padding-top: 25px;
    }

    /* Learn Section */
    .learn-section img{
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Learn Section */
    .learn-section h4{
        padding-bottom: 50px;
    }
}